body {
  font-family: 'Roboto Condensed', sans-serif; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-weight: 300;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1150px) {
    body {
      height: 100%; } }

@media screen and (max-width: 630px) {
  .logo {
    width: 100%; } }

.navWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2em; }
  @media screen and (max-width: 1150px) {
    .navWrapper {
      flex-wrap: wrap;
      justify-content: center; } }
  @media screen and (max-width: 630px) {
    .navWrapper {
      flex-direction: column; } }
  .navWrapper .navLinks {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    color: white; }
    @media screen and (max-width: 1150px) {
      .navWrapper .navLinks {
        padding-left: 0; } }
    @media screen and (max-width: 630px) {
      .navWrapper .navLinks {
        flex-direction: column; } }
    .navWrapper .navLinks a {
      color: white;
      text-decoration: none; }
      .navWrapper .navLinks a:visited {
        color: white;
        text-decoration: none; }
      .navWrapper .navLinks a:focus {
        color: white;
        text-decoration: none; }
    .navWrapper .navLinks li {
      margin: 0 10px;
      padding: 15px;
      border: 1px solid transparent; }
      .navWrapper .navLinks li:hover {
        border: 1px solid white;
        cursor: pointer; }

.social {
  display: flex;
  justify-content: center;
  width: 100%; }
  @media screen and (max-width: 805px) {
    .social {
      margin: 2em 0; } }
  .social a {
    margin: 1em;
    font-size: 2em;
    color: white; }
    .social a:hover {
      color: black; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: white; }
  .header p {
    width: 550px;
    text-align: center;
    font-size: 1.2em; }
  @media screen and (max-width: 630px) {
    .header p, .header .searchBar {
      width: 100%; } }

.siteWrapper {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 630px) {
    .siteWrapper {
      max-width: 95%; } }

.galleryPageWrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 630px) {
    .galleryPageWrapper {
      max-width: 95%; } }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px; }
  @media screen and (max-width: 805px) {
    .gallery {
      justify-content: space-around; } }
  .gallery img {
    margin: .3em;
    box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.64); }

.galleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  color: white; }
  .galleryList .galleryItem {
    padding: 10px;
    align-items: center;
    flex: 1; }
    @media screen and (max-width: 1150px) {
      .galleryList .galleryItem {
        flex: 0; } }
  .galleryList p {
    margin: 0;
    padding: 0; }
  .galleryList .album {
    font-weight: 500;
    font-size: 1.2em; }
  .galleryList .composer, .galleryList .size, .galleryList .postedBy {
    font-size: .8em; }

.searchBar {
  width: 550px;
  flex: 1;
  display: flex; }
  .searchBar input[type="text"] {
    padding: 10px;
    flex: 3; }
  .searchBar button {
    padding: 10px; }

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  width: 750px;
  padding-top: 50px;
  padding-bottom: 30px; }
  @media screen and (max-width: 1150px) {
    .searchWrapper {
      padding: 0;
      height: 250px;
      flex-direction: column;
      align-items: space-between;
      margin-bottom: 1.4em; } }
  .searchWrapper p {
    color: white;
    margin-right: 8px; }
  .searchWrapper .gallerySearch {
    display: flex;
    order: 1; }
    .searchWrapper .gallerySearch input[type="text"] {
      font-size: 0.65em;
      padding: 7px; }
  .searchWrapper .sortBy {
    display: flex;
    align-items: center; }
    .searchWrapper .sortBy select {
      font-size: 0.65em;
      padding: 7px; }
    @media screen and (max-width: 1150px) {
      .searchWrapper .sortBy {
        flex-direction: column; }
        .searchWrapper .sortBy p {
          margin: 0; } }
  .searchWrapper .showBy {
    display: flex;
    align-items: center; }
    .searchWrapper .showBy select {
      font-size: 0.65em;
      padding: 7px; }
    @media screen and (max-width: 1150px) {
      .searchWrapper .showBy {
        flex-direction: column; }
        .searchWrapper .showBy p {
          margin: 0; } }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/*# sourceMappingURL=styles.css.map */
