.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: white;
  p {
    width: 550px;
    text-align: center;
    font-size: 1.2em;
  }
  .searchBar {
    width: 550px;
    flex: 1;
    display: flex;
    input[type="text"] {
      padding: 10px;
      flex: 3;
    }
    button {
      padding: 10px;
    }
  }
}
