.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: white;
  p {
    width: 550px;
    text-align: center;
    font-size: 1.2em;
  }
  p, .searchBar {
    @media screen and #{$mobile} {
      width: 100%;
    }
  }
}
