.logo {
  @media screen and #{$mobile} {
    width: 100%;
  }
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  @media screen and #{$smallDesktop} {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media screen and #{$mobile} {
    flex-direction: column;
  }
  .navLinks {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    color: white;
    @media screen and #{$smallDesktop} {
      padding-left: 0;
    }
    @media screen and #{$mobile} {
      flex-direction: column;
    }
    a {
      color: white;
      text-decoration: none;
      &:visited {
        color: white;
        text-decoration: none;
      }
      &:focus {
        color: white;
        text-decoration: none;
      }
    }
    li {
      margin: 0 10px;
      padding: 15px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid white;
        cursor: pointer;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  width: 100%;
  @media screen and #{$tablet} {
    margin: 2em 0;
  }
  a {
    margin: 1em;
    font-size: 2em;
    color: white;
    &:hover {
      color: black;
    }
  }
}
