.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
  // border: 1px solid cyan;
  @media screen and #{$tablet} {
    justify-content: space-around;
  }
  img {
    margin: .3em;
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.64);
    // @media screen and #{$tablet} {
    //   width: 150px;
    //   height: 150px;
    // }
  }
}
