// Homepage

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 650px;
  @media screen and #{$tablet} {
    justify-content: space-around;
  }
  img {
    margin: .3em;
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.64);
  }
}

// GALLERY PAGE

.galleryList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  color: white;
  .galleryItem {
    padding: 10px;
    align-items: center;
    flex: 1;
    @media screen and #{$smallDesktop} {
      flex:0
    }
  }
  p {
    margin: 0;
    padding: 0;
  }
  .album {
    font-weight: 500;
    font-size: 1.2em;
  }
  .composer, .size, .postedBy {
    font-size: .8em;
  }
}
