// Homepage Search

.searchBar {
  width: 550px;
  flex: 1;
  display: flex;
  input[type="text"] {
    padding: 10px;
    flex: 3;
  }
  button {
    padding: 10px;
  }
}



// Gallery List Page

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  width: 750px;
  padding-top: 50px;
  padding-bottom: 30px;
  @media screen and #{$smallDesktop} {
    padding: 0;
    height: 250px;
    flex-direction: column;
    align-items: space-between;
    margin-bottom: 1.4em;
  }
  p {
    color: white;
    margin-right: 8px;
  }
  .gallerySearch {
    display: flex;
    order: 1;
    input[type="text"] {
      font-size: $searchText;
      padding: 7px;
    }
  }
  .sortBy {
    display: flex;
    align-items: center;
    select {
      font-size: $searchText;
      padding: 7px;
    }
    @media screen and #{$smallDesktop} {
      flex-direction: column;
      p {
        margin: 0;
      }
    }
  }
  .showBy {
    display: flex;
    align-items: center;
    select {
      font-size: $searchText;
      padding: 7px;
    }
    @media screen and #{$smallDesktop} {
      flex-direction: column;
      p {
        margin: 0;
      }
    }
  }
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}
