
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  @extend %bodyFont;
  font-weight: 300;
    background-size: cover;
  @include background(linear-gradient(black, red));
  height: 100vh;
  @media screen and #{$tablet} {
    height: 100%;
  }
}
