
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  // @media screen and #{$tablet} {
  //   height: 100%;
  // }
}

body {
  @extend %bodyFont;
  font-weight: 300;
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  width: 100%;
  // background: rgba(0,0,0,0.5);
  @media screen and #{$smallDesktop} {
    height: 100%;
  }
}
